@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';


* {
  margin: 0;
  padding: 0;
}
 nav ul {
  position: fixed;
  text-align: right;
  width: 100%;
  background-color: #Fff;
  font-family: "comfortaa",sans-serif; 
  font-size: 1.2em; 
}

nav ul li {
  display: inline-block;
  margin: 30px; 
}

nav ul li a {
  color: #000;
  text-decoration: none;  
}
nav ul li a:hover {
  color: #ababab;
}

/* about me */

#welcome-section {
  top: 20;
  line-height: 1.6;
  background: #F5F5F5;
  min-height: 55vh;
  padding-top: 45vh;
  text-align: 
  
}

#welcome-section{
  color:black;
}


body{
            background-color: #eaf6f6;
        }
hr {
            box-sizing: content-box;
            height: 0;
            overflow:visible
        }
        
        
       .h1{
         font-size: 40px;
         color: black;
         font-family:'Times New Roman';

       }
  td{
    color: white;
    font-size:medium
  }
h6{
  color:blanchedalmond;
  font-size: x-large;
            
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
  }
  .container {
      max-width: 1200px;
      min-width: 650px;
      margin: 0 auto;
      padding: 50px;      
  }
 
  .chart {
      display: grid;
      border: 2px solid #000;
      position: relative;
      overflow: hidden;  
  }
  .chart-row {
    display: grid;      
    grid-template-columns: 50px 1fr;
    background-color: #DCDCDC;
  }
  .chart-row:nth-child(odd) {
    background-color: #C0C0C0;
  }
  .chart-period {
    color:  #fff;
    background-color:  #708090 !important;
    border-bottom: 2px solid #000; 
    grid-template-columns: 50px repeat(7, 1fr);
  }
  .chart-lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    grid-template-columns: 50px repeat(7, 1fr);
  }
  .chart-period > span {    
    text-align: center;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
    padding: 15px 0;    
  }
  .chart-lines > span {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
 
  .chart-row-item {
    background-color:#808080;
    border: 1px solid  #000;
    border-top: 0;
    border-left: 0;      
    padding: 20px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  } 

  .chart-row-bars {
    list-style: none;
    display: grid;
    padding: 15px 0;
    margin: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px 0;
    border-bottom: 1px solid  #000;
  }
  li {
    font-weight: 450;
    text-align: left;
    font-size: 15px;
    min-height: 15px;
    background-color: #708090;
    padding: 5px 15px;
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
  }
  ul .chart-li-one {
    grid-column: 1/2; 
    background-color:#588BAE;
  }
  ul .chart-li-two-a {
    grid-column: 2/2; 
    background-color: #0080FF;
  }
  ul .chart-li-two-b {
    grid-column: 3/5; 
    background-color:#4682B4;
  } 
  ul .chart-li-three {
    grid-column: 5/6; 
    background-color:#57A0D3;
  }
  ul .chart-li-four {
    grid-column: 5/6; 
    background-color:#0E4D92;
  }
  ul .chart-li-five {
    grid-column: 6/7; 
    background-color:#4F97A3;
  }
  ul .chart-li-six {
    grid-column: 6/7; 
    background-color:#73C2FB;
  }
  ul .chart-li-seven {
    grid-column: 7/7; 
    background-color:#0080FF;
  }
.image{
  background-color:black;
}